.hero h1 {
  width: 837px;
}

.hero p {
  width: 596px;
}

.everyPerson h1 {
  width: 506px;
}

.everyPerson p {
  width: 596px;
}

.coordinated h2 {
  width: 670px;
}

.coordinated p {
  width: 596px;
}

.polaroidContainer {
  width: 100%;
  height: 360px;
  top: 265px;
  position: absolute;
}

.polaroidWrapper {
  width: 842px;
  margin-left: auto;
  margin-right: auto;
}

.costWrapper {
  display: flex;
  align-items: center;
  width: 849px;
  margin: 0 auto;
}

.costLeft {
  width: 655px;
  font-size: 34px;
  color: #97a0ae;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.5px;
}

.costRight {
  position: relative;
  width: 194px;
}

.costSquares {
  position: relative;
  z-index: 4000;
}

.costLine {
  position: absolute;
  z-index: 3000;
  width: 438px;
  height: 26px;
  background: #f3f3f3;
  bottom: 24px;
  right: 0px;
}

.costHighlight {
  font-weight: 800;
  color: #617cad;
}
