.lead p {
  width: 880px;
  margin: 0 auto;
  text-align: center;
}

.biosContainer {
  padding: 30px 0;
  background: #f2f2f2;
  border-top: 5px solid #ededed;
  border-bottom: 5px solid #ededed;
}

.biosWrapper {
  width: 830px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bioItem {
  width: 210px;
  text-align: center;
  position: relative;
  font-family: "PTS", serif;
  font-style: italic;
  margin: 15px 0;
}

.bioPhoto {
  width: 150px;
  left: 30px;
  position: relative;
}

.bioPhoto img {
  border-radius: 50%;
  position: relative;
  z-index: 4000;
  margin-bottom: 8px;
}

.bioPhoto::after {
  content: "";
  background: #607baf;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  z-index: 3000;
}

.bioName {
  color: #303944;
  font-size: 26px;
  line-height: 1.1;
}

.bioPosition {
  color: #a4a8ac;
  font-size: 18px;
}

.captureWrapper {
  width: 596px;
  margin: 0 auto;
}

.captureForm {
  margin-top: 44px;
}

@media only screen and (max-width: 960px) {
  .lead p {
    width: 100%;
    max-width: 500px;
    margin-bottom: 0;
  }
  .biosWrapper {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .bioItem {
    align-self: center;
    margin-bottom: 24px;
  }
  .bioItem:last-child {
    margin-bottom: 8px;
  }
  .captureWrapper {
    width: 100%;
    max-width: 550px;
  }
  .captureForm {
    margin-top: 36px;
  }
}
