.lead {
  width: 680px;
  margin: 0 auto;
}

.lead p {
  margin-bottom: 28px;
}

@media only screen and (max-width: 960px) {
  .lead {
    padding-top: 8px;
    width: 100%;
    max-width: 500px;
  }
}
