.container {
  background-image: none;
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  padding: 96px 0;
  overflow: hidden;
  position: relative;
}

.wrapper {
  z-index: 3000;
  position: relative;
}

.tile {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2000;
}

@media only screen and (max-width: 960px) {
  .container {
    padding: 48px 0;
  }
  .wrapper {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapperFullWidth {
    max-width: 100% !important;
  }
}
