.container {
  width: 100%;
  height: 50px;
  position: relative;
}

.wrapper {
  margin: 0 auto;
  display: block;
  position: relative;
}

button.button {
  background: none;
  outline: none;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  background: #5eae8c;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 30px 8px;
  border: 0;
  border-radius: 48px;
  font-size: 16px;
  letter-spacing: 1px;
  position: absolute;
  top: 2px;
  left: 0;
  transition: top 0.2s;
}

button.button:hover {
  top: 0px;
}
