.container {
  background: url(../images/base-cta.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  max-height: 800px;
  display: flex;
}

.left {
  width: 32%;
  background-color: rgba(149, 218, 189, 0.9);
  background-image: url(../images/tex-noise.png);
  background-repeat: repeat;
}

.right {
  width: 68%;
  background-color: rgba(97, 173, 141, 0.9);
  background-image: url(../images/tex-noise.png);
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  width: 500px;
  color: #ffffff;
  font-size: 38px;
  text-align: right;
  font-weight: 300;
  margin-bottom: 16px;
  font-family: "PTS", serif;
}

.buttons {
  text-align: right;
}

a.button {
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  background: #ffffff;
  color: #5eae8c;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 30px 8px;
  border-radius: 48px;
  font-size: 16px;
  letter-spacing: 1px;
  width: 170px;
  transition: all 0.2s;
  margin-right: 3px;
}

a.button:hover {
  margin-right: 0px;
}

a.button:last-of-type {
  margin-left: 19px;
}

a.button:last-of-type:hover {
  margin-left: 22px;
}

@media only screen and (max-width: 960px) {
  .container {
    height: auto;
  }
  .header {
    width: 100%;
  }
  .left {
    width: 0;
  }
  .right {
    width: 100%;
    padding: 96px 0;
  }
  .header {
    text-align: center;
    font-size: 34px;
    line-height: 1.3;
    margin-bottom: 36px;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
  }
  .buttons {
    text-align: center;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
  }
  .singleButton {
    width: 100%;
  }
  a.button:last-of-type {
    margin-left: 0;
    margin-top: 18px;
  }
  a.button {
    margin-left: 0 !important;
  }
  a.button:hover {
    margin-left: 3px !important ;
  }
}
