.card {
  position: relative;
  width: 800px;
  height: 500px;
  margin: 0 auto 0;
  background: url(../images/donation-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.interaction {
  width: 664px;
  background: #f4f5f6;
  margin: 0 auto;
}

.monthlySelector {
  width: 100%;
  display: flex;
  height: 56px;
}

.selection,
.selectionRight {
  box-sizing: border-box;
  cursor: pointer;
  width: 50%;
  height: 100%;
  color: #5ead8d;
  background: transparent;
  font-weight: 600;
  background: #c1e3d5;
  text-align: center;
  padding-top: 16px;
  position: relative;
  z-index: 6000;
  overflow: hidden;
}

.selection::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 101%;
  height: 101%;
  background: #5ead8d;
  z-index: -1;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  transition: all 0.6s ease-in-out;
}

.selectionRight::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #5ead8d;
  z-index: -1;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transition: all 0.6s ease-in-out;
}

.selectorActive,
.selectorActiveRight {
  color: white;
}

.selectorActive::before,
.selectorActiveRight::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.chooseAmount {
  padding: 36px 0;
}

.amountRow {
  margin: 0 auto 16px;
  width: 88%;
  display: flex;
  justify-content: space-around;
}

.amountRow:last-of-type {
  margin-bottom: 0;
}

.button {
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  background: #5ead8d;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 10px 8px;
  border-radius: 48px;
  font-size: 16px;
  letter-spacing: 1px;
  width: 170px;
  transition: all 0.2s;
  margin: 0;
}

.confirmButton {
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.progressBar {
  background: #c1e3d5;
  height: 16px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 5000;
}

.progressIndicator {
  background: #5ead8d;
  width: 0;
  height: 100%;
  z-index: 6000;
  transition: width 0.7s ease-in-out;
}

.innerCard {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  float: left;
  transition: all 0.3s ease-in-out;
  left: 100%;
}

.detailLink {
  color: #b7b7b7;
  font-family: "PTS", serif;
  font-size: 14px;
  margin: 4px auto 0;
}

.detailLink:hover {
  color: #898989;
}

.innerCardActive {
  left: 0;
}

.innerCardCompleted {
  left: -100%;
}

.bigNumber {
  margin: 0 auto;
}

.bigNumber input {
  text-align: center;
  background: transparent;
  font-size: 32px;
  font-weight: 800;
  border-bottom-width: 3px;
  margin: 16px 0 16px;
}

.bigNumber input:focus {
  border-bottom-width: 3px;
}

.controlNext {
  margin: 0 auto;
}

.stripeControl {
  margin-bottom: 28px;
  padding: 10px;
  padding-top: 0;
  border-bottom: 1px solid #cfd3d9;
}
