.container {
  padding: 60px 0;
  background: #303944;
}

.wrapper {
  width: 360px;
  margin: 0 auto;
  color: #d4dae4;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
}

.paragraph {
  margin-bottom: 4px;
}

.linksWrapper {
  display: flex;
  justify-content: space-between;
}

.link {
  color: #d4dae4;
  text-decoration: none;
  border-bottom: 1px solid #515b70;
  transition: border-bottom 0.2s;
}

.link:hover {
  border-bottom: 1px solid #d4dae4;
}

@media only screen and (max-width: 960px) {
  .container {
    padding: 40px 0 77px;
  }
  .paragraph {
    margin-bottom: 32px;
  }
  .linksWrapper {
    flex-direction: column;
    justify-content: center;
  }
  .linksWrapper a {
    display: block;
    width: 100px;
    text-align: center;
    margin: 0 auto 16px;
    padding-bottom: 4px;
  }
  .wrapper {
    width: 85%;
    text-align: center;
  }
}
