.container {
  width: 100%;
  height: 182px;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.link {
  background: none;
  outline: none;
  display: inline;
  border: 0;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  color: #3a3f48;
  font-family: "Metropolis", sans-serif;
  text-decoration: none;
  padding: 0 2px 1px;
  font-size: 16px;
  letter-spacing: 0.5px;
  border-bottom: 2px solid #3a3f48;
  border-style: hidden;
}

.link:hover {
  border-style: solid;
}

.logo {
  display: block;
  height: 124px;
  width: 118px;
  overflow: hidden;
}
