html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #ffffff;
  color: #3a3f48;
  font-family: "METRO", sans-serif;
  line-height: 1.5;
  font-size: 20px;
}

#preload {
  display: none !important;
}

.is-1 {
  font-size: 32px;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 18px;
}

.is-1:last-child {
  margin-bottom: 0;
}

.is-subtitle p {
  color: #303944;
  margin-bottom: 26px;
}

.is-1 p {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
}

.is-centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.is-serif {
  font-family: "PTS", serif;
}

.is-centered-text {
  width: 100%;
  text-align: center;
}

.is-serif.is-1 {
  font-size: 36px;
  color: black;
  margin-bottom: 16px;
  font-weight: 400;
}

strong {
  color: black;
  font-weight: 600;
}

.is-2 {
  color: #303944;
}

.is-serif.is-2 {
  font-style: italic;
  font-size: 30px;
  color: black;
  margin-bottom: 16px;
}

p:last-child {
  margin-bottom: 0;
}

form.formControl {
  margin: 0 auto;
  width: 375px;
  box-sizing: border-box;
}

.control input,
.control textarea {
  background: none;
  box-sizing: border-box;
  width: 100%;
  appearance: none;
  outline: none;
  border: 0;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px;
  padding-top: 0;
  border-bottom: 1px solid #cfd3d9;
  margin-bottom: 28px;
  font-family: "Courier New", monospace;
  transition: all 0.2s;
  color: #5dae8c;
}

.control textarea {
  height: 160px;
  line-height: 1.6;
}

.control input::placeholder,
.control textarea::placeholder {
  color: #cfd3d9;
}

.control input:focus,
.control textarea:focus {
  border-bottom: 1px solid #5eae8c;
}

.captcha {
  display: none;
}

hr {
  border: 0;
  border-bottom: 5px solid #d4dae4;
  opacity: 0.5;
  width: 40%;
  margin: 36px auto;
}

.formErrors li {
  list-style-type: none;
  text-align: center;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 8px;
  color: #e74c3c;
}

.formErrors li:last-child {
  margin-bottom: 16px;
}

@media only screen and (max-width: 960px) {
}
